
<link rel="stylesheet" href="/css/home.css">

<body>
    <%- include('_header') -%>
    <div>
        <h1> <%= title %></h1>

        <div>
            <h6>Friends</h6>
            <% for( u of all_users){ %>
                <P><a href="/users/profile/<%= u.id %>"><%= u.name %></a></P>


            <% } %>
        
        </div>

        <% if(locals.user){%>
            <section>
                <form action="/posts/create" method="POST" id="new-post-form">
                    <textarea name="content" id="" cols="30" rows="5" placeholder="Type Here.."></textarea>
                    <input type="submit" value="POST">
                </form>
            </section>

            <%}%>
        

        <div id="post-list-container">
            <ul>
                <% for(post of posts){ %>
                        <hr>
                        
                        
                        <li id="post-<%= post._id %>">
                            
                            <% if(locals.user && locals.user.id==post.user.id){ %>
                                <small>
                                    <a href="/posts/destroy/<%= post._id%>" class="delete-post-button">X</a>
                                </small>
    
                            <% } %><%= post.content%>
                            <span>--by <%= post.user.name%></span>
                        

                        <% if(locals.user){%>
                            <form action="/comments/create" method="POST">
                                <input type="text" name="content" placeholder="Type Comment..">
                                <input type="hidden" name="post" value="<%= post._id %>">
                                <input type="submit" value="Add Comment">
                            </form>


                        <%} %>

                        <div>
                            
                            <% for(comment of post.comments) {%>
                                    <% if(locals.user && comment.user.id==locals.user.id) { %> 
                                            <small><a href="/comments/destroy/<%= comment.id %>">X</a></small>
                                        <%} %>
                                    <p><%= comment.content%></p><span> <small><%= comment.user.name %></small></span>
                                   
                            <% } %>
                        </div>
                    </li>
                        <hr>

                    <%}%>

            </ul>
        </div>
    </div>
    <script src="/js/home_post.js"></script>
    <%- include('_footer') -%>
</body>
