<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('_header') -%>

    <img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">

    <% if(user.id==profile_user.id){ %>
        <form action="/users/update/<%=profile_user.id %>" method="POST" enctype="multipart/form-data">
            <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
            <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
            <input type="file" name="avatar" placeholder="Profile Picture">
            <input type="submit" value="Update">

        </form>



   <% } else {%>
    <h1><%= profile_user.name %></h1>
    <h1><%=profile_user.email %></h1>

    <%} %>
    
    <%- include('_footer') -%>
</body>
</html>